@model Lab3.Models.StudentModel
@{
    ViewData["Title"] = "Редактирование студента из группы " + @ViewBag.name;
}

<div class="text-center">
    <h1 class="display-4">Редактирование студента из группы @ViewBag.name</h1>
    <form method="post" class="text-left">
        <input type="text" name="idstudent" id="idstudent" value="@Model.idstudent" hidden>
        <input type="text" name="idgroup" id="idgroup" value="@Model.idgroup" hidden>
        <snap>
            <label for="FIO"><b>Фамилия Имя Отчество: </b></label>
            <input type="text" name="FIO" id="FIO" value="@Model.FIO" class="w-100" required>
        </snap>
        <snap>
            <label for="headman_sign"><b>Староста? </b></label>
            <input type="checkbox" name="headman_sign" id="headman_sign" value="true" checked="@Model.headman_sign">
        </snap>
        <input type="submit" value="Сохранить">
    </form>
</div>